@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');


body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #F2A543;
   font-family: kameron;
   width: 100%;
    overflow-x: hidden;
   -webkit-tap-highlight-color: transparent;
   -webkit-touch-callout: none;
   margin: 0;
   padding: 0;
   
}

.block_wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 15vh;
}

.community_container {
   margin-top: 2rem;
   max-width: 950px;
   width: 80vw;
   padding: 25px;
   background-color: rgba(138, 90, 43, 0.80);
   box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.profile_container {
   display: flex;
   align-self: flex-start;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1vh;
   gap: 0.5rem;
}


.profile_image {
   width: 12vw;
   height: 12vw;
   max-width: 200px;
   max-height: 200px;
   aspect-ratio: 1 / 1;
   border-radius: 50%;
   background: none;
   border: 1px solid #D8A24A;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

.profile_image img{
   height: 100%;
   width: auto;
   object-fit: cover;
}


.username {
   width: 237px;
   height: 19px;
   font-family: kameron;
   font-weight: 700;
   font-size: 16px;
   color: #FDF2E9;
}


.community_name {
   width: 237px;
   height: 19px;
   font-family: kameron;
   font-weight: 700;
   font-size: 14px;
   color: #FDF2E9; 
}


.more_button {
   
   right: 30px;
   transition: transform 0.4s ease;
   position: absolute;
}


.more_button img{
   width: 48px;
   height: 48px;
   cursor: pointer;
}


.more_button:active {
   transform: scale(0.93);
}


.user_message {
   display: flex;
   align-self: center;
}


.message {
   font-size: 1.1rem;
   font-weight: 700;
   width: 83vw;
   margin-bottom: 2vh;
   background-color: transparent;
   outline: none;
   border: none;
   color: #FDF2E9;
   font-family: kameron;
   align-items: center;
}


.file_container {
   width: 83vw;
   height: auto;
   border-radius: 10px;
   background-color: transparent;
   border: 1px solid #D8A24A;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}


.file_container img {
   width: 100%;
   height: auto;
   object-fit: cover;
   
}


.file_contents video {
   width: 100%;
   height: auto;
   object-fit: cover;
}


.button_section {
   display: flex;
   align-self: flex-start;
   align-items: center;
   width: 100%;
   margin-top: 1vh;

}


.like_button-p {
   width: 48px;
   height: 48px;
   cursor: pointer;
   transition: transform 0.4s ease;
}

.like_button-np {
   width: 48px;
   height: 48px;
   cursor: pointer;
   transition: transform 0.4s ease;
}


.like_button:active {
   transform: scale(0.93);
}


.like_counter {
   width: 25px;
   height: 24px;
   font-family: Kameron;
   font-weight: 700;
   font-size: 20px;
   color: #FDF2E9;
}


.comment_button {
   width: 48px;
   height: 48px;
   margin-left: 10px;
   cursor: pointer;
   transition: transform 0.4s ease;
}


.comment_button:active {
   transform: scale(0.93);
}


.comment_counter {
   width: 25px;
   height: 24px;
   margin-left: 5px;
   font-family: Kameron;
   font-weight: 700;
   font-size: 20px;
   color: #FDF2E9;
}

.like {
   display: flex;
   align-items: center;
   gap: 0.3rem;
}

.comment{
   display: flex;
   align-items: center;
   gap: 0.3rem;
}

.time_posted{
   margin-left: 20vw;
}



.time_stamp {
   width: 25px;
   height: 24px;
   font-family: Kameron;
   font-weight: 700;
   font-size: 20px;
   color: #FDF2E9;
   white-space: nowrap;
}


.navigation_bar {
   background: #F2A543;
   position: fixed;
   bottom: 0;
   border-top: 2px solid rgba(175, 117, 52, 0.3);
   height: 12vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}


.background_container {
   background-color: rgba(138, 90, 43, 0.80);
   max-width: 950px;
   width: 95vw;
   height: 10vh;
   border-radius: 25px;
   border: none;
   box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
   position: fixed;
}


.button {
   transition: transform 0.4s ease;
   padding: 5px;
   position: relative;
   cursor: pointer;
}


.button img {
   width: 50px;
   height: 50px;
   position: relative;
} 


.button:active {
   transform: scale(0.93);
}