@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2A543;
    font-family: kameron;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15vh;
    margin-top: 4.1vh;
}

.create_container {
    max-width: 950px;
    width: 80vw;
    top: 5vh;
    padding: 25px;
    background-color: rgba(138, 90, 43, 0.80);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 25x;
    font-weight: 700;
    width: 83vw;
    background-color: transparent;
    outline: none;
    border: none;
    color: #FDF2E9;
    font-family: kameron;
    align-items: center;
}

.message::placeholder {
    color: #FDF2E9;
    font-family: kameron;
    font-weight: 700;
}

.letter_counter{
    align-items: flex-start;
    align-self: flex-end;
    color: #FDF2E9;
    font-family: kameron;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 1px;
}

#file_upload {
    display: none;
}

.file_container {
    width: 83vw;
    height: 39vh;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #D8A24A;
    color: #FDF2E9;
    font-family: kameron;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.file_contents {
    width: 83vw;
    height: auto;
    overflow: hidden;
}

.file_contents img {
    width: 83vw;
    height: 39vh;
    object-fit: contain;
}

.file_contents video {
    width: 83vw;
    height: 39vh;
    object-fit: contain; 
}

.publish_button {
    width: 85vw;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    font-family: kameron;
    margin-top: 3vh;
    background-color: #D8A24A;
    color: #FDF2E9;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
}

.publish_button:active {
    transform: scale(0.98);
}

.navigation_bar {
    background: #F2A543;
    position: fixed;
    bottom: 0;
    border-top: 2px solid rgba(175, 117, 52, 0.3);
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_container {
    background-color: rgba(138, 90, 43, 0.80);
    max-width: 950px;
    width: 95vw;
    height: 10vh;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.button {
    transition: transform 0.4s ease;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.button img {
    width: 50px;
    height: 50px;
    position: relative;
}  

.button:active {
    transform: scale(0.93);
}
