/* General Styles */
body {
    background-color: #F2A543;
    font-family: 'Kameron', serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent; /* Fully removes tap delay */
    -webkit-touch-callout: none; /* Disables iOS long press */
}

.block_wrapper {
    display: flex;
    flex-wrap: wrap;
    /* gap: px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15vh;
}


/* Article Container */
.article-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 950px;
    height: auto;
    min-height: 20vh;
    background-color: rgba(138, 90, 43, 0.8);
    border-radius: 25px;
    padding: 2vh;
    text-align: left;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(175, 117, 52, 0.5);
    margin-top: 3vh;
    color: #FDF2E9;
}

/* Article Header */
.article-header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    margin: 0;
    max-width: 100%; 
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.4s ease;
    align-items: flex-start; 
    justify-content: center;
}

.back-icon {
    width: 40px;
    height: auto;
}

.line {
    position: relative; 
    width: 100%; 
    height: 2px;
    background-color: #D8A24A;
    margin-top: 0.5rem;
}


/* Article Content */
.article-content {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    text-align: left;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

/* Section Titles */
.article-section-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    border-top: 1px solid #D8A24A;
    border-bottom: 1px solid #D8A24A;
    margin: 10px 0;
}

.article_media {
    width: 100%;
    height: auto;
    max-height: 300px;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D8A24A;
    overflow: hidden;

}

.article_media img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 12vh;
    background: rgba(138, 90, 43, 1);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Responsive Design */
@media (min-width: 768px) {
    .article-container {
        width: 50vw;
        max-width: 450px;
    }
    .navbar {
        width: 50vw;
        max-width: 450px;
    }
}

.control_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-color: #F2A543;
    border-top: 2px solid rgba(175, 117, 52, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.buttons_background {
    position: relative;
    width: 95vw;
    max-width: 950px;
    height: 10vh;
    background-color: rgba(138, 90, 43, 0.8);
    border-radius: 25px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    position: relative;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.buttons:active {
    transform: scale(0.93);
}

.control_button {
    position: relative;
    width: 50px;
    height: 50px;
}

@media (min-width: 768px) {
    .control_button {
        width: 50px;
        height: 50px;
    }
}