@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2A543;
    font-family: kameron;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.logo {
    top: 2vh;
    width: 40vw;
    height: 40vh;
    position: absolute;
}

.logo img {
    width: 100%;
    height: auto;
}

.title {
    top: 15.5vh;
    font-weight: 700;
    font-size: 1.5rem;
    color: #7D4836;
    position: relative;
    text-align: center;
}

.reset_password_container {
    max-width: 950px;
    width: 80vw;
    top: 17vh;
    padding: 25px;
    background-color: rgba(138, 90, 43, 0.80);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heading_1 {
    font-weight: 700;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #FDF2E9;
    text-align: center;
}

.line {
    width: calc(100% + 50px);
    height: 1px;
    background-color: #D8A24A;
    position: relative;
}

.reset_password_form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 94.5%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: transparent;
    color: #FDF2E9;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    color: #FDF2E9;
    font-family: kameron;
}

.reset_password_button {
    width: 80vw;
    padding: 20px;
    font-weight: 700;
    font-size: 24px;
    font-family: kameron;
    margin-top: 3vh;
    background-color: #D8A24A;
    color: #FDF2E9;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
}

.reset_password_button:active {
    transform: scale(0.98);
}
