@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2A543;
    font-family: kameron;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.logo img {
    width: 212px;
    height: 179px;
    margin-top: 15px;
}

.title {
    text-align: center;
    height: 4.5vh;
    font-size: 20px;
    font-weight: 700;
    color: #7D4836;
    margin: 5px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.login_container {
    background-color: rgba(138, 90, 43, 0.80);
    padding: 25px;
    border-radius: 25px;
    border: 1px solid #D8A24A;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 364px;
    width: 86%;
}

.heading_1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #FDF2E9;
}

.line_1 {
    border-bottom: 1px solid #D8A24A;
    width: 364px;
}

input {
    width: 94.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #FDF2E9;
    font-size: 20px;
    font-weight: 700;
    outline: none;
}

input::placeholder {
    color: #FDF2E9;
    font-family: kameron;
}

.line_2 {
    border-bottom: 1px solid #D8A24A;
    width: 364px;
}

.line_3 {
    border-bottom: 1px solid #D8A24A;
    width: 364px;
}

.login_button {
    transition: transform 0.4s ease;
    font-size: 24px;
    font-family: kameron;
    font-weight: 700;
    margin-top: 29px;
    width: 100%;
    height: 64px;
    background-color: #D8A24A;
    color: #FDF2E9;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.login_button:active {
    transform: scale(0.98);
}

.forgot_password_button {
    transition: transform 0.4s ease;
    font-size: 24px;
    font-family: kameron;
    font-weight: 700;
    margin-top: 29px;
    width: 100%;
    height: 64px;
    background-color: #D8A24A;
    color: #FDF2E9;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.forgot_password_button:active {
    transform: scale(0.98);
}


.line_4 {
    border-bottom: 1px solid #D8A24A;
    margin-top: 29px;
    width: 364px;
}

.heading_2{
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #FDF2E9;  
}

.outer_form_buttons {
    display: flex;
    justify-content: space-between;
    width: 364px;
}

.sign_up_button {
    transition: transform 0.4s ease;
    font-size: 24px;
    font-family: kameron;
    font-weight: 700;
    width: 100%;
    height: 64px;
    background-color: #D8A24A;
    color: #FDF2E9;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 25px;
    cursor: pointer; 
    margin-right: 15px;
}

.sign_up_button:active {
    transform: scale(0.98);
}

.guest_button {
    transition: transform 0.4s ease;
    font-size: 24px;
    font-family: kameron;
    font-weight: 700;
    width: 100%;
    height: 64px;
    background-color: #D8A24A;
    color: #FDF2E9;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 25px;
    cursor: pointer; 
    margin-left: 15px;
}

.guest_button:active {
    transform: scale(0.98);
}
