/* General Styles */
body {
    background-color: #F2A543;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    font-family: 'Kameron', serif;
}

.block_wrapper {
    display: flex;
    flex-wrap: wrap;
    /* gap: px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15vh;
}
/* Library Summary Container */
.library-summary-container {
    width: 85vw;
    max-width: 950px;
    background: rgba(138, 90, 43, 0.8);
    border-radius: 2vh;
    padding: 12px;
    color: #FDF2E9;
    text-align: left;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    border: none;
}

/* Library Summary Header */
.library-summary-header {
    display: flex;
    align-items: center;
    /* gap: 10px; Space between back button and text */
}

.back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px; /* Adjust width */
    height: 100%; /* Match height of header */
}

.back-button {
    width: 30px; /* Adjust button size */
    height: 30px;
    cursor: pointer;
}

.library-summary-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.library-summary-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.library-summary-members {
    font-size: 1rem;
    font-weight: 700;
    
    
    
}

.library-summary-content {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    border-top: 1px solid #D8A24A;
    padding-top: 5px;
}

/* Article Container */
.article {
    width: 90vw;
    max-width: 950px;
    height: 45vh;
    max-height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(138, 90, 43, 0.8);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    padding: 2vh;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.article-title-container {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.article-title {
    color: #FDF2E9;
    font-family: 'Kameron', serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    flex-grow: 1;
}

.next_button {
    width: 11vw;
    height: 5vh;
}

.article-image-container {
    width: 100%;
    height: auto;
    max-height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D8A24A;
    overflow: hidden;
}

.article-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .article, .library-summary-container {
        width: 45vw;
        max-width: 400px;
    }
}

@media (min-width: 1024px) {
    .article, .library-summary-container {
        width: 30vw;
        max-width: 450px;
    }
    .article-title {
        font-size: 22px;
    }
    .next_button {
        width: 30px;
        height: 30px;
    }
}




.control_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    background-color: #F2A543;
    border-top: 2px solid rgba(175, 117, 52, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.buttons_background {
    width: 95vw;
    max-width: 950px;
    height: 10vh;
    background-color: rgba(138, 90, 43, 0.8);
    border-radius: 25px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    position: relative;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.buttons:active {
    transform: scale(0.93);
}

.control_button {
    position: relative;
    width: 50px;
    height: 50px;
}

